CREATE TABLE IF NOT EXISTS crm_leads (id INT AUTO_INCREMENT PRIMARY KEY, entity_id INT NOT NULL, status ENUM('Nuevo', 'Contactado', 'Presupuestado', 'Ganado', 'Perdido') DEFAULT 'Nuevo', source VARCHAR(100), notes TEXT, last_contact TIMESTAMP DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (entity_id) REFERENCES entities(id) ON DELETE CASCADE) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4; CREATE TABLE IF NOT EXISTS crm_interactions (id INT AUTO_INCREMENT PRIMARY KEY, entity_id INT NOT NULL, user_id INT NOT NULL, type ENUM('Llamada', 'Email', 'Visita', 'WhatsApp', 'Otro') DEFAULT 'WhatsApp', description TEXT, interaction_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (entity_id) REFERENCES entities(id) ON DELETE CASCADE, FOREIGN KEY (user_id) REFERENCES users(id)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
